.center {
	text-align: center;
}

.jumbotron {
	background-color: #585858;
	color: white;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
    margin-left:100px;
    margin-right:75px;
    margin-bottom:25px;
    margin-top:25px;
}

.nav-tabs, .nav-pills {
    text-align:center;
    font-size: 24pt;
}

.modal-body input{
    margin-bottom: 20px;
}

.carousel-inner img {
    margin: auto;
}

.alert {
   visibility: hidden;
}

/*
.content {
	width: 50%;
	margin: auto;
}
*/
