.center {
	text-align: center;
}

.jumbotron {
	background-color: #585858;
	color: white;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    color: white;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
    margin-left:100px;
    margin-right:75px;
    margin-bottom:0px;
    margin-top:0px;
}

.nav-tabs, .nav-pills {
    text-align:center;
    font-size: 24pt;
}

.modal-body input{
    margin-bottom: 20px;
}

.carousel-inner img {
    margin: auto;
}

.alert {
    margin-top: 0px;
    visibility: hidden;
}

#icon {
    margin-top: 2.5px;   
}

#aboutParagraph, #features{
    width: 60%;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#footer {
    color: dimgrey;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body{
    color: black;
}
