.left {
	/*float: left;*/
	margin-left: 20px;
	width:60%;
	margin-left: auto;
	margin-right: auto;	
	margin-top:10px;
}

.right {
	float: right;
	margin-right: 20px;
	width:60%;
	
}

.bookinfo {
	padding: 20px;
	height: 50px;
}


